main {
    color: #fff;
    font-family: 'Roboto' sans-serif;
}

.section1Sobre {
    display: flex;
    min-height: 90vh;
}

.section1SobreLeft {
    width: 40%;
    display: flex;
    align-items: center;
}

.section1SobreLeft img {
    width: 450px;
}

.section1SobreRight {
    width: 60%;
    padding-left: 50px;
}

.section1SobreRight img {
    display: flex;
    margin: 0 auto;
}

.section1SobreRight * {
    padding: 10px 0px;
}

.section1SobreRight h1 {
    font-size: 2em;
}

.section1SobreRight p {
    font-size: 1em;
    text-align: justify;
    line-height: 25px;
}

.section2Sobre {
    padding: 50px 0px;
}

.section2Sobre * {
    padding: 10px 0px;
}

.section2Sobre h1 {
    text-align: center;
    font-size: 2em;
}

.section2Sobre p {
    font-size: 1em;
    text-align: justify;
    line-height: 25px;
}

.divLeft {
    text-align: left;
}

.divCenter {
    text-align: center;
}

.divRight {
    text-align: right;
}

@media only screen and (max-width: 850px) {
    .section1Sobre {
        flex-direction: column;
    }
    .section1SobreRight {
        width: 100%;
        padding-left: 0px;
    }
    .section1SobreLeft img {
        position: absolute;
        top: 100px;
        left: 35%;
        width: 300px;
        opacity: 0.8;
    }
    .section1SobreRight {
        z-index: 1;
    }
}

@media only screen and (max-width: 600px) {
    .section1SobreLeft img {
        left: 25vw;
    }
}

@media only screen and (max-width: 450px) {
    .section1SobreLeft img {
        left: 15vw;
    }
    .parceirosContainer img {
        width: 300px;
    }
    .divLeft {
        text-align: center;
    }
    .divCenter {
        text-align: center;
    }
    .divRight {
        text-align: center;
    }
}

@media only screen and (max-width: 375px) {
    .section1SobreLeft img {
        left: 10vw;
    }
}

@media only screen and (max-width: 325px) {
    .section1SobreLeft img {
        left: 3vw;
    }
    .parceirosContainer img {
        width: 200px;
    }
}